<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.food.mapper.AdminReplyMapper">

	<insert id="insertNoticeReply">
	INSERT INTO NoticeReply (boardId, content, memberId)
	VALUES (#{boardId}, #{content}, #{memberId})
	</insert>
	
	<select id="getNoticeReplyByBoardId" resultType="com.team1.food.domain.AdminReplyDto">
	SELECT id, 
			boardId, 
			content, 
			memberId,
			inserted
	FROM NoticeReply
	WHERE boardId = #{boardId}
	ORDER BY id DESC
	</select>
	
	<delete id="deleteNoticeReplyByBoardId">
	DELETE FROM NoticeReply
	WHERE boardId = #{boardId} 
	</delete>
</mapper>