<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.food.mapper.RecipeMapper">

	<select id="selectCateList" resultType="com.team1.food.domain.FoodCateDto">
		SELECT cateIndex, 
			   cateName, 
			   memberId, 
			   authRole,
			   F.fileName fileName
		FROM FoodCateTable C LEFT JOIN FileTable F ON C.cateIndex = F.cateId
	</select>
	
	<select id="selectFoodList" resultType="com.team1.food.domain.FoodDto">
		SELECT foodName, cateName FROM FoodTable WHERE cateName = #{cateName}
	</select>
</mapper>